.projects-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.interest-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.content-box-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
