.projects-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  row-gap: 40px;
  margin-bottom: 20px;
}

.interest-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
