.project-card {
  cursor: pointer;
  display: flex !important;
  justify-content: center !important;
  height: 36vh;
  width: 15vw;
  min-width: 200px !important;
  color: var(--color-text-primary) !important;
  background-color: var(--color-surface-muted) !important;

  transition: transform 0.25s ease;
  max-height: 500px;
}

.project-card:hover {
  box-shadow: var(--glow-white);
  transform: scale(1.05); /* grows 5% */
}

.modal-content {
  background-color: var(--color-surface-muted);
  color: var(--color-text-primary);
}

/*
This removes the separation line between modal header and modal content as well
as the separation line between modal content and modal footer
*/
.modal-header,
.modal-footer {
  border-style: hidden;
}
