.page-container {
  width: 75%;
  margin: auto;
  padding: 50px;

  padding-left: 5%;
  padding-right: 5%;
  align-content: center;
  margin-top: 6vh;
  background-color: var(--color-surface-alt);
}

.content-box-large {
  width: 100%;
  background-color: pink;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-soft);
  color: var(--color-text-primary);
}
.content-box-medium {
  width: 50%;
  background-color: cyan;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-soft);
  color: var(--color-text-primary);
}

.content-box-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
