.page-container {
  width: 75%;
  margin: auto;
  padding: 50px;
  padding-left: 5%;
  padding-right: 5%;
  align-content: center;
  margin-top: 6vh;
  background-color: var(--color-surface-alt);
}

.content-box-large {
  width: 100%;
  background-color: pink;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-soft);
  color: var(--color-text-primary);
}
.content-box-medium {
  width: 45%;
  min-width: 380px;
  background-color: cyan;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-soft);
  color: var(--color-text-primary);
  flex: 1 1 auto;
}
/*
  * 50% of a 1080p window will make this draw the two highleghted projects in their own row
*/
@media (max-width: 1200px) {
  .content-box-medium {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .page-container {
    width: 90%;
    min-width: 500px;
  }
}
