#offcanvas-custom {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
}
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--color-surface);
  height: 7vh;
  z-index: 999;
}

.topbar-menu {
  cursor: pointer;
  color: var(--color-text-primary);
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.topbar-text-container {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  line-height: 10px;
}

.topbar-text {
  margin-left: 40px;
  color: var(--color-text-secondary);
  line-height: 10px;
}

.offcanvas-link {
  text-decoration: none;
  cursor: pointer;
}
.profile-image {
  width: 300px;
  margin-bottom: 20px;
}
